<div class="container">
  <h1>
    Mikan Ultimate Bravery <a href="yoyo" target="_blank"><i class="fab fa-github"></i> </a>
  </h1>
  <p>
    copy/paste a random bet for the mikan's stream
    <a href="https://www.twitch.tv/mikan_live" target="_blank">https://www.twitch.tv/mikan_live</a>
  </p>
  <form [formGroup]="formGroup">
    <section class="mb-3">
      <h2>Step 1: Indicate your level and points</h2>
      <div class="d-flex mb-3">
        <div class="form-floating me-3 col-2">
          <input type="number" class="form-control" id="floatingInput" formControlName="level" />
          <label for="floatingInput">Your level</label>
        </div>
        <div class="form-floating col-2">
          <input type="number" class="form-control" id="floatingInput2" formControlName="points" />
          <label for="floatingInput2">Your points</label>
        </div>
      </div>
    </section>
    <section class="mb-5">
      <h2>Step 2: Select the bets you want to randomize</h2>
      <div class="mb-3">
        <h3>Type of bet</h3>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" formGroupName="betTypes">
          <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" formControlName="t1" />
          <label class="btn btn-outline-primary" for="btncheck1">t1</label>

          <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" formControlName="t2" />
          <label class="btn btn-outline-primary" for="btncheck2">t2</label>

          <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" formControlName="t3" />
          <label class="btn btn-outline-primary" for="btncheck3">t3</label>

          <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" formControlName="t4" />
          <label class="btn btn-outline-primary" for="btncheck4">t4</label>

          <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" formControlName="e" />
          <label
            class="btn btn-outline-primary"
            for="btncheck5"
            [ngClass]="{ disabled: formGroup.controls.level.value < 70 }"
          >
            e
          </label>

          <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" formControlName="join" />
          <label
            class="btn btn-outline-primary"
            for="btncheck6"
            [ngClass]="{ disabled: formGroup.controls.level.value < 40 }"
          >
            join
          </label>
        </div>
      </div>
    </section>
    <div class="mb-3">
      <button class="btn btn-success" (click)="roll()">Roll</button>
    </div>
    <div *ngIf="command">
      <code class="me-3">{{ commandToString(command) }}</code>
      <button
        mat-icon-button
        [cdkCopyToClipboard]="commandToString(command)"
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </form>
</div>
